.filterDropdown {
    margin-top: 2%;
}

.btn-primary {
    color: #f6f4e6;
    background-color: #368327;
    border-color: #368327;
}

.btn-primary:hover {
    color: #f6f4e6;
    background-color: #185014;
    border-color: #185014;
}

.btn-primary:focus {
    color: #fff;
    background-color: #185014;
    border-color: #185014;
    box-shadow: 0 0 0 0.25rem rgba(13, 91, 30, 0.5);
}

.show>.btn-primary.dropdown-toggle {
    color: #f6f4e6;
    background-color: #185014;
    border-color: #185014;
}

.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(13, 91, 30, 0.5);
}

.clickable {
    cursor: pointer;
}

.checkboxGroup {
    border-radius: 25px;
    border: 2px solid #368327;
    padding: 20px; 
    width: 200px;
}